.csharp {
	font-family: Consolas, 'Courier New', monospace;
}
.csharp .key {
	color: blue;
}
.csharp .class {
	color: #007EDF;
}
.csharp .string {
	color: darkred;
}
.csharp .comment {
	color: darkgreen;
}